{% extends "base.html" %}
{% block content %}
<h3>While trying to process the request, an unexpected error occurred.</h3>
<p>If it's implementation related, consider <a href="https://github.com/friedemannsommer/searproxy/issues"
                                               target="_blank" rel="noopener noreferrer">opening an
    issue</a>.</p>
{% endblock content %}
{% block footer %}
The <a href="https://github.com/friedemannsommer/searproxy" target="_blank" rel="noopener noreferrer">Source
    Code</a> is publicly available on GitHub.
{% endblock footer %}