body > div:first-child {
    -moz-flex-flow: row wrap;
    -moz-justify-content: space-between;
    -webkit-align-content: center;
    -webkit-align-items: center;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #000;
    border-radius: unset;
    border: none;
    box-shadow: unset;
    box-sizing: border-box;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: space-between;
    left: 0;
    margin: 0;
    padding: 4px;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2147483647 !important;
}

body > div:first-child > * {
    -moz-flex: initial;
    -webkit-flex: initial;
    align-self: auto;
    flex: initial;
}

body > div:first-child > h1 {
    background: #000;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-family: "Open Sans", "Garamond", "Georgia", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    height: auto;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    width: auto;
}

body > div:first-child > h1 > a, body > div:first-child > h1 > a:hover, body > div:first-child > h1 > a:active, body > div:first-child > h1 > a:focus, body > div:first-child > h1 > a:visited {
    background: #000;
    border: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline;
    font-family: "Open Sans", "Garamond", "Georgia", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    text-decoration: underline;
}

body > div:first-child > p {
    background: #000;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-family: "Open Sans", "Garamond", "Georgia", sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    height: auto;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    width: auto;
}

body > div:first-child > p > a, body > div:first-child > p > a:hover, body > div:first-child > p > a:active, body > div:first-child > p > a:focus, body > div:first-child > p > a:visited {
    background: #000;
    border: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline;
    font-family: "Open Sans", "Garamond", "Georgia", sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-decoration: underline;
}
